@model ToDoList_WebAppDemo.Models.BigViewModel


<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Your ToDo Lists</h2>
        </div>
    </div>

    <br /><br />

    @if (Model.ToDoList.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="width: 100%">
            <thead>
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        Title
                    </th>
                    <th>
                        Creator ID
                    </th>
                    <th>
                        Date of Creation
                    </th>
                    <th>
                        Editor ID
                    </th>
                    <th>
                        Date of Last Change
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model.ToDoList)
                {
                    if (obj.CreatorId == Logged.LoggedId)
                    {
                        <tr>
                            <td width="50%">@obj.Id</td>
                            <td width="50%">@obj.Title</td>
                            <td width="50%">@obj.CreatorId</td>
                            <td width="50%">@obj.DateOfCreation</td>
                            <td width="50%">@obj.IdOfTheEditor</td>
                            <td width="50%">@obj.DateOfLastChange</td>
                            <td class="text-center">
                                <div class="w-75 btn-group" role="group">
                                    <a asp-controller="TaskManagement" asp-route-Id="@obj.Id" asp-action="TaskView" class="btn btn-success mx-2">
                                        Tasks
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                    foreach (var item in Model.Shares)
                    {
                        if (item.UserId == Logged.LoggedId && obj.Id == item.ToDoListId)
                        {
                            <tr>
                                <td width="50%">@obj.Id</td>
                                <td width="50%">@obj.Title</td>
                                <td width="50%">@obj.CreatorId</td>
                                <td width="50%">@obj.DateOfCreation</td>
                                <td width="50%">@obj.IdOfTheEditor</td>
                                <td width="50%">@obj.DateOfLastChange</td>
                                <td class="text-center">
                                    <div class="w-75 btn-group" role="group">
                                        <a asp-controller="TaskManagement" asp-route-Id="@obj.Id" asp-action="TaskView" class="btn btn-success mx-2">
                                            Tasks
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    }
    else
    {
        <p> No ToDoLists exists.</p>
    }
    @if (Logged.IsAdmin)
    {
        <div class="col-6 text-right">
            <a asp-controller="Home" asp-action="Admin" class="btn btn-danger">
                Back
            </a>
        </div>
    }
    else
    {
        <div class="col-6 text-right">
            <a asp-controller="Home" asp-action="NoAdmin" class="btn btn-danger">
                Back
            </a>
        </div>
    }
</div>

